.button-container
        ul
            list-style-type none
            display inline-flex
            item-align center
            li
                a
                    margin 0 5px 0 0
                    padding 10px
                    text-decoration none
                    background-color var(--grayishBlue)
                    border-radius 25px
                    .mdi
                        position relative
                        top 3px
                        font-size 25px
                        color #fff