@import './menu.styl'

.header
    background white
    // position fixed
    position sticky
    top 0
    left 0
    right 0
    padding 2em 0
    &-logo
        display inline-flex
        width 150px
        height 40px
        border 1px solid red
    &-content
        display flex
        justify-content space-between
        align-items center