.hero 
    .myPhoto
            padding 25px 0 0 0
            margin auto
            display block
            border-radius 15px
            max-width 250px
    .button-container
        ul
            list-style-type none
            display inline-flex
            li
                padding 15px
                background-color --softBlue
                a
                    text-decoration none
                    color black
                
                

