.icon
    width: 32px
    height 32px

.icon-github
    background url('../images/icon-github.svg') no-repeat center

.icon-linkedin
    background url('../images/icon-linkedin.svg') no-repeat center

.icon-email
    background url('../images/icon-email.svg') no-repeat center